.sedilefree {
    background-color: greenyellow;
    opacity: 0.6;
}

.sedilenope {
    background-color: red;
    opacity: 0.6;
}

.sedile {
    background-image: url(../img/sedile.png);
    width: 15px;
    height: auto;
}

.sedilefree:hover .sedilenope:hover {
    background-color: yellow;
    opacity: 0.6;
}