            html,
            body {
                padding: 0;
                margin: 0;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            
            label {
                padding-top: 5px;
            }
            
            div.register {
                min-height: 758px;
                display: flex;
                flex-direction: column;
                align-content: center;
                width: 50%;
            }
            
            form {
                min-height: 468px;
                display: flex;
                flex-direction: column;
                border: 1px solid black;
                padding: 25px;
                align-content: space-between;
            }
            
            input {
                border-top: 0px;
                border-left: 0px;
                border-right: 0px;
                border-bottom: 1px solid black;
                outline: none;
            }
            
            .tariffa {
                display: flex;
                flex-direction: column;
            }
            
            #showOffer>img[src="../img/Free.jpg"] {
                max-width: 99px;
                max-height: 55px;
            }
            
            #showOffer>img[src="../img/Premium.jpg"] {
                max-width: 95px;
                max-height: 95px;
            }
            
            #showOffer {
                display: flex;
                min-height: 135px;
                justify-content: flex-start;
            }
            
            #showOffer>span {
                align-self: flex-end;
            }
            
            .error {
                border-bottom: 1px solid red;
                color: red;
            }